$primary: #e3e5e8;
$secondary: #f1f3f4;
$tertiary: #ffffff;
$black: #060607;
$dark-grey: #6c757f;
$light-grey: #eceeef;
$blue-gradient: linear-gradient(180deg, rgba(20,140,255,1) 0%, rgba(0,122,255,1) 85%);
$gre-y-dient: linear-gradient(0deg, rgba(227,229,232,1) 0%, rgba(241,243,244,1) 85%);

$primary-shadow:
  0 0.7px 1px rgba(0, 0, 0, 0.2),
  0 1.6px 4.2px rgba(0, 0, 0, 0.081),
  0 4px 17px rgba(0, 0, 0, 0.084)
;

$small-shadow :
  0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
;


$nav-height: 9vh;

$grey-border: 1px solid $secondary;


$neo-border: 10px;
$neo-bg: #ffffff;
$neo-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;